<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><%= image_tag('fp logo.png',alt: "logo",class: "logoe-img") %></a>
    
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item">
          <a class="nav-link active" id="clr" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">About</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Coaches</a></li>
            <li><a class="dropdown-item" href="#">Students</a></li>
            
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">Contact</a>
        </li>
      </ul>
    </div> %>
  </div>
</nav>




    <h1 class="rege"><strong>WELCOME AGAIN,</strong></h1> 
<p class="rege1">Don't have an account? <strong><a class="cols" href="#">Sign up</a></strong>
<form action="/create" method="post">
<input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    />
<div class="input-wrape1">  
        <input type="mail" autofocus="" name="user[username]" autocapitalize="none" autocomplete="Email" id="id_mail" class="input1" required>
        <label for="">Username</label>
         <div class="box1">
        <%= image_tag('user.png',alt: "background",class: "user-img") %>
        </div>
    </div>


<div class="input-wrapes3">
        <input type="text" name="user[email]" class="inputs3" required>
        <label for="">Email</label>
        <%# <i class="far fa-eye" id="togglePassword"></i> %>
        <div class="box3">
        <%= image_tag('mail.png',alt: "background",class: "pass-img") %>
        </div>
        <button type="submit" id="button" class="btn btn-dark"><strong>Sign in</strong></button>
        <%  if flash[:error]%>
                <p class="text-danger">
                <%= flash[:error] %>
                </p>
                <% end %>
</form>
           <%= javascript_include_tag 'show', 'data-turbolinks-track': 'reload' %>
