<nav class="navbar position-absolute top-0 w-100  navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/students"><%= image_tag('fp logo.png',alt: "logo",class: "logos-img") %></a>
    
     <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item">
          <a class="nav-link active" id="clr" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">About</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Coaches</a></li>
            <li><a class="dropdown-item" href="#">Students</a></li>
            
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">Contact</a>
        </li>
      </ul>
    </div>  -->
     <!-- <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search"> -->
  </div>
</nav>


<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div> -->

  <div class="input-wrap">
    <input type="text" name="student[name]" class="input" required>
    <label for=""> Name</label>
    <div class="box">
    <%= image_tag('user.png',alt: "background",class: "user-img") %>
    </div>
</div>

  <!-- <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div> -->


  <div class="input-rap">
    <input type="file" name="student[image]" class="inpu" required>
    <label for=""></label>
    <div class="bx">
    <%= image_tag('file.png', alt: "background",class: "user-img") %>
    </div>
</div>

  <!-- <div class="field">
    <%= form.label :proficiency %>
    <%= form.text_field :proficiency %>
  </div> -->

  <div class="ap1">
    <input type="text" name="student[proficiency]" class="i1" required>
    <label for="">Proficiency</label>
    <div class="b1">
    <%= image_tag('award.png',alt: "background",class: "user-img") %>
    </div>
</div>


  <!-- <div class="field">
    <%= form.label :portfoliolink %>
    <%= form.text_field :portfoliolink %>
  </div> -->

  <div class="ip-link1">
    <input type="text" name="student[portfoliolink]" class="ip-link" required>
    <label for="">Portfolio</label>
    <div class="b1-link">
    <%= image_tag('user.png',alt: "background",class: "user-img") %>
    </div>
</div>

  <!-- <div class="field">
    <%= form.label :githubLink %>
    <%= form.text_field :githubLink %>
  </div> -->

  <div class="git-ap1">
    <input type="text" name="student[githublink]" class="git-ip1" required>
    <label for="">Github</label>
    <div class="git-b1">
    <%= image_tag('user.png',alt: "background",class: "user-img") %>
    </div>
</div>


<div class="ab-ap1">
  <input type="text" name="student[about]" class="ab-ip1" required>
  <label for="">  About</label>
  <div class="ab-b1">
  <%= image_tag('user.png',alt: "background",class: "user-img") %>
  </div>
</div>

  <!-- <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div> -->

  <div class="role-ap1">
    <input type="text" name="student[role]" class="role-ip1" required>
    <label for="">Role</label>
    <div class="role-b1">
    <%= image_tag('user.png',alt: "background",class: "user-img") %>
    </div>
</div>


  <!-- <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div> -->

  <div class="inpu-ap1">
    <input type="text" name="student[linkIn]" class="ip1" required>
    <label for="">LinkedIn</label>
    <div class="bb1">
    <%= image_tag('link.png',alt: "background",class: "user-img") %>
    </div>
</div>

   <!-- <div class="field">
    <%= form.label :instaLink %>
    <%= form.text_field :instaLink %>
  </div>

   <div class="field">
    <%= form.label :faceLink %>
    <%= form.text_field :faceLink %>
  </div>

   <div class="field">
    <%= form.label :linkIn %>
    <%= form.text_field :linkIn %>
  </div> -->

  <button type="submit" id="cre-sta1" class="btn btn-dark"><strong>Create Staff</strong></button>
<% end %>
