<%# <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><%= image_tag('fp logo.png',alt: "logo",class: "logos-img") %></a>
    
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item">
          <a class="nav-link active" id="clr" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">About</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Coaches</a></li>
            <li><a class="dropdown-item" href="#">Students</a></li>
            
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link" id="clr" href="#">Contact</a>
        </li>
      </ul>
    </div> %>
  </div>
</nav>

   <div class="wh-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-UNJ715CK0-53e3dc63a07b-512',alt: "background",class: "shy-img") %>
   <p class="name">Shanmuga Anandaraman</p>
   <p class="role">Director - Social Impact</p>
   </div>

   <div class="wh1-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-UUHGC5E2H-365477827165-512',alt: "background",class: "shy-img") %>
   <p class="name1">Chitra Muthukumaran</p>
   <p class="role1">Lead - CSR</p>
   </div>

   <div class="wh2-div">
   <%= image_tag('rev.jpeg',alt: "background",class: "shy-img") %>
   <p class="name2">Revathi Iyer</p>
   <p class="role2">Senior Manager - Freshworks Academy/Faculty</p>
   </div>

   <div class="wh3-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-UU2P5F45Q-0be1f8a66de5-512',alt: "background",class: "shy-img") %>
   <p class="name3">Prasannabharati Ram</p>
   <p class="role3">Lead - CSR</p>
   </div>

   <div class="wh4-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-U02M6DXMG5N-d416af94429a-512',alt: "background",class: "shy-img") %>
   <p class="name4">Surya Umapathy</p>
   <p class="role4">Associate Trainer - Tech</p>
   </div>

   <div class="wh5-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-U031X3ZQ5EW-d02265246bca-512',alt: "background",class: "shy-img") %>
   <p class="name5">Lisha Das</p>
   <p class="role5">ELS - Coach</p>
   </div>

   <div class="wh6-div">
   <%= image_tag('https://ca.slack-edge.com/T032648LE-U03P5LA64E7-85b76f393c79-512',alt: "background",class: "shy-img") %>
   <p class="name6">Bharathwaj Soundararajan</p>
   <p class="role6">Senior - Tech - Coach</p>
   </div>













































































<%# <div id="card1" class="card">
        <img src="https://ca.slack-edge.com/T032648LE-UUHGC5E2H-365477827165-512" id="c-img" class="card-img-top" alt="...">
        <div id="item" class="card-body">
          <h5 class="card-title">Chitra Muthukumaran</h5>
          <p class="card-text">Lead - CSR</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      
<div id="card2" class="card">
        <img src="https://ca.slack-edge.com/T032648LE-UNJ715CK0-53e3dc63a07b-512" id="c-img" class="card-img-top" alt="...">
        <div id="item" class="card-body">
          <h5 class="card-title">Shanmuga Anandaraman</h5>
          <p class="card-text1">Director - Social Impact</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div> %>




 %>
